body {
    font-size: x-large;
    padding: 2rem;
}

.gamepad-launchpad-header {
    display: flex;
    flex-direction: row;
}

.gamepad-launchpad-icon {
    align-self: center;
    float: left;
    height: 3rem;
    width: 3rem;
}

.gamepad-launchpad-body {
    margin-left: 3rem;
}
