@font-face {
    font-family: ubuntu, sans-serif;
    src: url("../fonts/Ubuntu-Medium.ttf");
}

* {
    font-family: ubuntu, sans-serif;
}

.hidden {
    display: none;
}

.no-focus-indicator {
    outline: none;
}
