@font-face {
    font-family: ubuntu;
    src: url("../fonts/Ubuntu-Medium.ttf");
}

* {
    font-family: ubuntu;
}

:root {
    --width: 600px;
}

.gamepad-controls {
    width: var(--width);
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
    grid-column: 1/3;
}

.configuration-menu {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(20, var(--width));
    width: var(--width);
    overflow-x: scroll;
    margin-bottom: 10px;
    overflow-y: hidden;
}

.configuration-menu::-webkit-scrollbar {
    display: none;
}

.menu-item {
    padding: 0 15px;
    height: 170px;
    width: calc(var(--width) - 30px);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 5fr 2fr 3fr 4fr;
}

.input-title {
    font-size: 1.2rem;
    font-weight: 600;
}

label {
    margin-top: 3px;
    font-size: 1.1rem;
}

select, input {
    margin: 10px 20px 10px 0;
    padding: 10px 5px;
    border: 2px solid;
    font-size: 1rem;
}

input {
    width: 94%;
}

select {
    width: 100%;
    grid-column: 1/3;
    grid-row: 3/4;
}

select:focus, input:focus {
    outline-color: darkorange;
}

.speed-factor {
    grid-row: 3/4;
    background-color: #ddd;
}

.speed-factor, .speed-factor-label {
    grid-column: 2/3;
}

.speed-factor-label {
    grid-row: 2/3;
}

.checkbox-label {
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 9px 0 10px 25px;
}

input[type="checkbox"] {
    transform: scale(1.3);
    grid-column: 1/2;
    grid-row: 4/5;
    align-self: center;
    justify-self: start;
    width: auto;
    margin-right: 37px;
    margin-left: 2px;
}

.buttons-container {
    width: var(--width);
    padding: 5px 18px 15px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.button {
    color: white;
    font-weight: 550;
    font-size: 1rem;
    height: 50px;
    width: auto;
    padding: 0px 22px;
    cursor: pointer;
}

.button:nth-child(1) {
    background-color: #c31501;
}

.button:focus:nth-child(1), .button:hover:nth-child(1) {
    background-color: #e51501;
    outline-width: 5px ;
}

.button:nth-child(2) {
    background-color: #1169CB;
}

.button:focus:nth-child(2), .button:hover:nth-child(2) {
    background-color: #4169EF;
    outline-width: 5px ;
}

.button:nth-child(3) {
    background-color: yellowgreen;
}

.button:focus:nth-child(3), .button:hover:nth-child(3) {
    background-color: #aee909;
    outline-width: 5px ;
}

.button:disabled:nth-child(3),
.button:disabled:focus:nth-child(3),
.button:disabled:hover:nth-child(3) {
    background-color: silver;
    cursor: unset;
}

.speed-factor, .speed-factor-label, .checkbox-label, .checkbox {
    display: none;
}

/* Dark Mode Stylesheet */
@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background-color: #333030;
    }

    img {
        filter: grayscale(20%);
    }

    select, .speed-factor, .checkbox {
        background-color: #9f9f9f;
        color: white;
    }

    .button {
        border: none;
    }

    .button:nth-child(1) {
        background-color: #C31535;
    }

    .button:focus:nth-child(1), .button:hover:nth-child(1) {
        background-color: #E5152D;
    }

    .button:nth-child(2) {
        background-color: #1169A1;
    }

    .button:focus:nth-child(2), .button:hover:nth-child(2) {
        background-color: #1169B6;
    }

    .button:nth-child(3) {
        background-color: #AEE976;
    }

    .button:focus:nth-child(3), .button:hover:nth-child(3) {
        background-color: #9ACD5A;
        outline-width: 5px ;
    }
}
