.gamepad-list-selector {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    row-gap: 1rem;
}

.gamepad-list-selector-items{
    border: 1px solid #999;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    row-gap: 0;
}

.gamepad-list-selector-item {
    align-content: center;
    font-size: 1.25rem;
    height: 3rem;
    line-height: 1.5rem;
    padding: 1rem;
}

.gamepad-list-selector-item:not(:first-of-type) {
    border-top: 1px dashed #999;
}

.gamepad-list-selector-item:hover {
    outline: aquamarine;
}

.gamepad-list-selector-item:focus {
    background-color: aquamarine;
    font-size: 1.4rem;
    outline: none;
}
