.osk-keyboard {
    margin: auto;
    padding-bottom: clamp(0.125rem, 5vh, 2rem);
    padding-top: clamp(0.125rem, 5vh, 2rem);
    width: 90%;
}

.osk-text-input {
    margin: auto;
    margin-top: clamp(0.5rem, 2vh, 2rem);
    width: 90%;
}

button.osk-key {
    color: black;
}

.osk-key {
    background-color: #ccc;
    margin: clamp(0.1rem, 0.3vw, 0.75rem);
}

.osk-key:focus {
    border: 3px solid #339;
}

.onscreen-keyboard-modal .modal-inner-container {
    height: clamp(20rem, 80vh, 50rem);
    top: clamp(5rem, 10vh, 10rem);
}
